{{#if error}}
    <div id="error-message" class="error-message" >
      <div class="error-message-container">
        <button type="button" id="error-message-close" class="close-button auto">
        x
      </button>
      {{#if title}}
      <p class="error-message-title">{{title}}</p>
      {{/if}}
      <p>{{error}}</p> 
      </div>
      </div>
    <script type="module" src="/js/errorMessage.js"></script>
{{/if}}
