<form class="resetInputGroup searchBar" >
  <input class="d-none" name="queryTag" type="text" value="{{queryTag}}">
  <div class="inputContainer">
    <input name="search" class="resetInput" id="tagInput" type="text" placeholder="搜尋..." autocomplete="off" value="{{search}}">
    <button class="resetButton auto" type="reset">x</button>
  </div>    
  <button class="submitButton auto" type="submit">搜搜</button>
</form>

