<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <link rel="icon" type="image/x-icon" href="/images/penguin-144.png">
    <title>Charlulu's 管理站</title>
    <!--sweetAlert-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!--css fs-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--quill snow-->
    <link
  href="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.4/dist/quill.snow.css"
  rel="stylesheet"
/>
<script src="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.4/dist/quill.js"></script>

    <link rel="stylesheet" href="/style/App.css" />
  </head>
  <body>
    {{>burgerPanel}}
    <div id="App">
        {{#if isAuth}}
          {{>navbar}}
        {{/if}}  
           {{{body}}}
          {{>footer}}
    </div>
  </body>
</html>
