.addPostPage {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  max-width: 600px;
}
.addPostPage label {
  margin-right: auto;
}

.addPostPage-cover-display {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  aspect-ratio: 2/1;
  background-color: var(--light);
  border-radius: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.addPostPage-cover-display-title {
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.869);
  border: 1px solid white;
  border-radius: 5px;
  padding: 4px 10px;
  color: var(--primary);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}
.addPostPage-cover-display-title:hover {
  transform: scale(1.1);
}

.addPostPage form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.addPostPage form input,
.addPostPage form textarea {
  width: 100%;
}


