.addPostPage {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  max-width: 500px;
}
.editPostPage-top-buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}


.editPostPage-top-buttons-views {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.editPostPage-top-buttons-views button {
  padding: 2px 10px;
  background-color: white;
  color: var(--primary);
  height: 30px;
  font-size: 0.9rem;
  border: 1px solid var(--primary);
}


.addPostPage label {
  margin-right: auto;
}

.addPostPage-cover-display {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  aspect-ratio: 16/9;
  background-color: var(--light);
  border-radius: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.addPostPage-cover-display-title {
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.869);
  border: 1px solid white;
  border-radius: 5px;
  padding: 4px 10px;
  color: var(--primary);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}
.addPostPage-cover-display-title:hover {
  transform: scale(1.1);
}

.addPostPage form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.addPostPage form input,
.addPostPage form textarea {
  width: 100%;
}
