.editPostPage {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
  max-width: 600px;
}

.viewPage-container {
  width: 100%;
  padding: 0;
}

.editPostPage-top-container {
  width: 100%;
}

.post-cover-display {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  aspect-ratio: 1/1;
  background-color: var(--light);
  border-radius: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.post-cover-display.view {
  cursor: auto;
}

.editPost-cover-display-title {
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.869);
  border: 1px solid white;
  border-radius: 5px;
  padding: 4px 10px;
  color: var(--primary);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}
.editPost-cover-display-title:hover {
  transform: scale(1.1);
}

.post-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15px;
}

.post-section .title {
  text-align: start;
  font-weight: bold;
  color: var(--primary);
  margin-bottom: 5px;
}

/* post-block */
.post-block {
  width: 100%;
  padding: 5px;
  min-height: 2rem;
  background-color: var(--light);
  border-radius: 5px;
  color: black;
}

.post-block.view {
  background-color: white;
  border: none;
  padding: 0px;
  margin-top: 10px;
}

/* each block */
.title-block {
  font-size: 2rem;
  padding: 5px 15px;
  font-weight: bold;
}

.content-block {
  display: flex;
  justify-content: center;
  min-height: 200px;
}

.content-placeholder {
  color: var(--border);
}

.post-buttons-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 10px 0px;
}
.post-buttons-div button {
  height: 40px;
}

.post-buttons-div select {
  color: var(--primary);
}

/* quill container */

/* toolbar */
.ql-toolbar {
  position: sticky;
  top: 50px;
  background-color: white;
  z-index: 99;
}

/* quill editor*/
.ql-editor {
  padding: 10px;
  width: 100%;
}

.view .ql-editor {
  padding: 4px;
}

.content-block .ql-editor h1,
.content-block .ql-editor h2,
.content-block .ql-editor h3,
.content-block .ql-editor h4 {
  color: black;
}

/* quill image */
.ql-snow .ql-editor img {
  width: 100%;
}

/* quill placeholder text */
.ql-editor.ql-blank::before {
  font-size: 1rem;
  font-style: normal;
  padding: 0px;
  left: 15;
}

.ql-container p {
  font-size: 1rem;
}

@media screen and (min-width: 600px) {
  .viewPage-container {
    padding: 0.25in;
    min-height: 8.27in;
    box-shadow: 0 0 4px 0 var(--border);
  }
  .view .ql-editor {
    padding: 0px;
  }
}
