<div class="page addItemPage">
  <!--speech-->
  <div class="speech">
    <img class="icon" src="/images/cry.png" alt="icon" />
    <div>
      <p class="info">填寫物件資料後在最下方點擊<span>Create</span></p>
      <p class="info">除了<span>補充照片</span>以外其他資料都是<span>必須</span>的</p>
    </div>
  </div>
  <!--form start-->
  <form action="/items" method="post" enctype="multipart/form-data">
    <!--cover-->
    <label for="imageInput"> 封面 </label>
    <div class="imageDisplay" id="imageDisplay">
      <label class="imageDisplay-label" for="imageInput">上傳封面</label>
    </div>
    <input id="imageInput" class="d-none" type="file" name="cover" required />
    <!--pictures-->
    <div class="pictureInputWrapper">
      <label> 補充照片 </label>
      <div id="pictureInputGroup" class="pictureInputGroup">
        <div class="pictureInput">
          <input name="picture" type="file" />
          <button type="button" class="deleteInput">x</button>
        </div>
      </div>
      <button id="addPicture" class="addPicture" type="button">+</button>
    </div>
    <!--name-->
    <div class="inputGroup">
      <label for="name"> 名字 </label>
      <input id="name" name="name" type="text" placeholder="商品名稱..." required />
    </div>
    <!--tags-->
    <div class="inputGroup">
      <label for="tag"> 標籤 &#40;<span id="tagsCount">0</span>&#41; </label>
      <div id="tagsContainer" class="tagsContainer">
        <!--insert tags  here-->
      </div>
    </div>
    <!--des-->
    <div class="inputGroup">
      <label for="description"> 介紹 </label>
      <textarea name="description" id="description" rows="2" placeholder="商品介紹..." required></textarea>
    </div>
    <!--price-->
    <div class="inputGroup">
      <label for="price"> 價錢 </label>
      <input type="number" name="price" id="price" min="0" required />
    </div>
    <!--buttons-->
    <div class="buttonContainer">
      <button class="w-80" id="submit" type="submit">Create</button>
      <button class="secondary w-80" id="reset" type="reset">Reset</button>
    </div>
    <!--HIDDEN: tags array (use stringify)-->
    <div class="d-none">
      <input id="tagsInput" type="text" name="tags" value="">
    </div>
  </form>
</div>


<!--template tag-->
<div class="d-none">
<label class="tagLabel">
  <input class="tagCheckbox" type="checkbox" id="myCheckbox">
  <span class="tagSpan">Tag Name here</span>
  <span class="tagItemsCount">0</span>
</label>
</div>


<script type="module">
  import TagClass from '/js/TagClass.js'

  // cover
  const imageInput = document.body.querySelector('#imageInput');
  const imageDisplay = document.body.querySelector('#imageDisplay');
  // picture
  const pictureInput = document.body.querySelector('.pictureInput');
  const newPictureInput = pictureInput.cloneNode(true);
  const pictureInputGroup = document.body.querySelector('#pictureInputGroup');
  const addPictureBtn = document.body.querySelector('#addPicture');
  const deletePictureBtns = document.body.querySelectorAll('.deleteInput');
  // tags
  const tagsContainer = document.querySelector('#tagsContainer')
  const tagLabelTemp = document.querySelector('.tagLabel') 
  const tagsCount = document.querySelector('#tagsCount')
  const tagsInput = document.querySelector('#tagsInput')

  function handleAddPicture() {
    if (newPictureInput || pictureInputGroup) {
      const newInput = newPictureInput.cloneNode(true);
      newInput.querySelector('.deleteInput').onclick = handleDeletePicture;
      pictureInputGroup.appendChild(newInput);
    }
  }

  function handleDeletePicture() {
    this.parentElement.remove();
  }

  function handleImageChange(e) {
    const file = e.target.files[0];
    if (file) {
      const reader = new FileReader();
      reader.onload = function (e) {
        imageDisplay.style.backgroundImage = `url(${e.target.result})`;
      };
      reader.readAsDataURL(file);
    } else {
      console.error('No image file selected');
    }
  }

  // Init
  const fetchTag = new TagClass(tagsContainer, tagLabelTemp, tagsInput , tagsCount)
  fetchTag.renderAllTags()

  // Action
  imageInput.onchange = handleImageChange;
  addPictureBtn.onclick = handleAddPicture;
  deletePictureBtns.forEach((b) => {
    b.onclick = handleDeletePicture;
  });

</script>