<div class="page">
  <!--speech-->
  <div class="speech">
    <img class="icon" src="/images/cry.png" alt="icon" />
    <div>
      <p class="info">除了<span>補充照片</span>與<span>標籤</span>以外都是<span>必須的</span></p>
    </div>
  </div>

    <div class="addItemPage">
  <!--form start-->
  <form action="/items" method="post" enctype="multipart/form-data">
    <!--cover-->
    <label for="imageInput"> 封面 </label>
    <div class="imageDisplay" id="imageDisplay">
      <label class="imageDisplay-label" for="imageInput">上傳封面</label>
    </div>
    <input id="imageInput" class="d-none" type="file" name="cover" required />
    <!--pictures-->
    <div class="pictureInputWrapper">
      <label> 補充照片 </label>
      <div id="pictureInputGroup" class="pictureInputGroup">
        <div class="pictureInput">
          <input name="picture" type="file" />
          <button type="button" class="deleteInput">x</button>
        </div>
      </div>
      <button id="addPicture" class="addPicture w-100" type="button">+</button>
    </div>
    <!--name-->
    <div class="inputGroup">
      <label for="name"> 名字 </label>
      <input id="name" name="name" type="text" placeholder="商品名稱..." required />
    </div>
    <!--tags-->
    <div class="inputGroup">
      <label for="tag"> 標籤 &#40;<span id="tagsCount">0</span>&#41; </label>
      <div id="tagsContainer" class="tagsContainer">
        <!--insert tags  here-->
      </div>
    </div>
    <!--des-->
    <div class="inputGroup">
      <label for="description"> 介紹 </label>
      <textarea name="description" id="description" rows="2" placeholder="商品介紹..." required></textarea>
    </div>
    <!--price-->
    <div class="inputGroup">
      <label for="price"> 價錢 </label>
      <input type="number" name="price" id="price" min="0" required />
    </div>
    <!--buttons-->
    <div class="buttonContainer">
      <button class="w-80" id="submit" type="submit">上架商品</button>
      <button class="secondary w-80" id="reset" type="reset">清空</button>
    </div>
    <!--HIDDEN: tags array (use stringify)-->
    <div class="d-none">
      <input id="tagsInput" type="text" name="tags" value="">
    </div>
  </form>
</div>
</div>



<!--template tag-->
<div class="d-none">
<label class="tagLabel">
  <input class="tagCheckbox" type="checkbox" id="myCheckbox">
  <span class="tagSpan">Tag Name here</span>
  <span class="tagItemsCount">0</span>
</label>
</div>


<script type="module" src="/js/addItemPage.js"></script>