<div class="page">
<div class="addPostPage">
    <label for="imageInput">貼文封面</label>
    <!--image display-->
    <div id="image-display" class="addPostPage-cover-display">
      <div class="addPostPage-cover-display-title">上傳封面</div>
    </div>

    <form action="/posts" method="post" enctype="multipart/form-data">
    <input id="imageInput" class="d-none" type="file" name="picture" required />
  
    <label for="postTitle">標題</label>
    <input id="postTitle" name="title" type="text" required>

    <label for="postDescription">介紹</label>
    <textarea id="postDescription" name="description" cols="30" rows="10" required></textarea>

    <button type="submit">創建貼文</button>
  </form>
</div>
</div>

<script type="module" src="/js/addPostPage.js"></script>


