<div class="page">
  <!--speech-->
  <div class="speech">
    <img class="icon" src="/images/idea.png" alt="icon" />
    <div>
      <p class="info">在下方打入想要<span>新增</span>的<span>標籤</span></p>
      <p class="info">點擊標籤可<span>修改</span>或<span>刪除</span>標籤</p>
    </div>
  </div>
  <!--page--->
  <div class="addTagsPage"> 
      <!--tags-->
      <form class="resetInputGroup" disabled>
        <div class="inputContainer">
           <input class="resetInput" id="tagInput" type="text" placeholder="新的標籤..." autocomplete="off">
          <button class="resetButton auto" type="reset">x</button>
        </div>
        <button id="addBtn" class="auto" type="button">新增</button>
      </form>
     <div class="inputGroup">
      <div id="tagsContainer" class="tagsContainer">
      </div>
    </div>
  </div>
  </div>

  <!--template tag-->
<div class="d-none">
<label class="tagLabel">
  <input class="tagCheckbox" type="checkbox" id="myCheckbox">
  <span class="tagSpan">Tag Name here</span>
    <span class="tagItemsCount">0</span>
</label>
</div>


<script type="module" src="/js/addTagsPage.js"></script>